#container
  max-width: 800px

h1
  margin: 0 0 10px 0
  font-size: 24px
  text-align: center

.result
  font-size: 24px
  text-align: center
  padding: 4px
  width: 50px

.colorRow
  display: flex
  display: -webkit-flex;
  button
    @extend .btn
    flex: 1
    -moz-flex: 1
    -webkit-flex: 1
    margin: 5px 2px
    padding: 10px inherit
    /*&.active*/
      /*pointer-events: none*/
  &.red
    button
      @extend .btn-danger
      &.active
        background-color: $brand-danger-darker
        border-color: $brand-danger-darkest
    .result
      color: $brand-danger
&.yellow
    button
      @extend .btn-warning
      &.active
        background-color: $brand-warning-darker
        border-color: $brand-warning-darkest
    .result
      color: $brand-warning
  &.green
    button
      @extend .btn-success
      &.active
        background-color: $brand-success-darker
        border-color: $brand-success-darkest
    .result
      color: $brand-success
  &.blue
    button
      @extend .btn-primary
      &.active
        background-color: $brand-primary-darker
        border-color: $brand-primary-darkest
    .result
      color: $brand-primary
  &.grey
    button
      &.active
        background-color: $gray-light
        border-color: $gray
    .result
      color: $gray-light

.totalRow
  .result
    display: block
    float: right
    border-top: 1px solid black
