$path = "../node_modules/bootstrap-styl/bootstrap/";

// Core variables and mixins
@import $path+ "variables";
@import $path+ "mixins";

// Utility classes
@import $path+ "utilities";
@import $path+ "responsive-utilities";

// Reset and dependencies
@import $path+ "normalize";
@import $path+ "print";
@import $path+ "glyphicons";

// Core CSS
@import $path+ "scaffolding";
@import $path+ "type";
@import $path+ "code";
@import $path+ "grid";
@import $path+ "tables";
@import $path+ "forms";
@import $path+ "buttons";

// Components
/*@import $path+ "component-animations";*/
/*@import $path+ "dropdowns";*/
/*@import $path+ "button-groups";*/
/*@import $path+ "input-groups";*/
/*@import $path+ "navs";*/
/*@import $path+ "navbar";*/
/*@import $path+ "breadcrumbs";*/
/*@import $path+ "pagination";*/
/*@import $path+ "pager";*/
/*@import $path+ "labels";*/
/*@import $path+ "badges";*/
/*@import $path+ "jumbotron";*/
/*@import $path+ "thumbnails";*/
/*@import $path+ "alerts";*/
/*@import $path+ "progress-bars";*/
/*@import $path+ "media";*/
/*@import $path+ "list-group";*/
/*@import $path+ "panels";*/
/*@import $path+ "responsive-embed";*/
/*@import $path+ "wells";*/
/*@import $path+ "close";*/

// Components w/ JavaScript
/*@import $path+ "modals";*/
/*@import $path+ "tooltip";*/
/*@import $path+ "popovers";*/
/*@import $path+ "carousel";*/


