$brand-danger-darker = darken($brand-danger, 50%)
$brand-danger-darkest = darken($brand-danger, 60%)

$brand-warning-darker = darken($brand-warning, 50%)
$brand-warning-darkest = darken($brand-warning, 60%)

$brand-success-darker = darken($brand-success, 50%)
$brand-success-darkest = darken($brand-success, 60%)

$brand-primary-darker = darken($brand-primary, 50%)
$brand-primary-darkest = darken($brand-primary, 60%)
