<div id="container" class="container-fluid">
    <h1>Renegades Qwixx</h1>
    <div class="colorRow grey">
        <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn active">&nbsp;</button>
        <button type="button" class="btn active">&nbsp;</button>
        <button type="button" class="btn">&nbsp;</button>
        <button type="button" class="btn" disabled>&nbsp;</button>
    </div>
</div>
