<div id="container" class="container-fluid">
    <h1>Renegades Qwixx</h1>
    <div class="scoreRow red">
        <button type="button" class="btn btn-danger">2</button>
        <button type="button" class="btn btn-danger">3</button>
        <button type="button" class="btn btn-danger active">4</button>
        <button type="button" class="btn btn-danger active">5</button>
        <button type="button" class="btn btn-danger">6</button>
        <button type="button" class="btn btn-danger">7</button>
        <button type="button" class="btn btn-danger">8</button>
        <button type="button" class="btn btn-danger">9</button>
        <button type="button" class="btn btn-danger">10</button>
        <button type="button" class="btn btn-danger">11</button>
        <button type="button" class="btn btn-danger">12</button>
        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
    </div>
    <div class="scoreRow yellow">
        <button type="button" class="btn btn-warning">2</button>
        <button type="button" class="btn btn-warning active">3</button>
        <button type="button" class="btn btn-warning">4</button>
        <button type="button" class="btn btn-warning">5</button>
        <button type="button" class="btn btn-warning active">6</button>
        <button type="button" class="btn btn-warning">7</button>
        <button type="button" class="btn btn-warning active">8</button>
        <button type="button" class="btn btn-warning">9</button>
        <button type="button" class="btn btn-warning">10</button>
        <button type="button" class="btn btn-warning">11</button>
        <button type="button" class="btn btn-warning">12</button>
        <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
    </div>
    <div class="scoreRow green">
        <button type="button" class="btn btn-success active">2</button>
        <button type="button" class="btn btn-success">3</button>
        <button type="button" class="btn btn-success active">4</button>
        <button type="button" class="btn btn-success">5</button>
        <button type="button" class="btn btn-success">6</button>
        <button type="button" class="btn btn-success active">7</button>
        <button type="button" class="btn btn-success">8</button>
        <button type="button" class="btn btn-success active">9</button>
        <button type="button" class="btn btn-success">10</button>
        <button type="button" class="btn btn-success">11</button>
        <button type="button" class="btn btn-success">12</button>
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
    </div>
    <div class="scoreRow blue">
        <button type="button" class="btn btn-primary">2</button>
        <button type="button" class="btn btn-primary active">3</button>
        <button type="button" class="btn btn-primary">4</button>
        <button type="button" class="btn btn-primary active">5</button>
        <button type="button" class="btn btn-primary active">6</button>
        <button type="button" class="btn btn-primary">7</button>
        <button type="button" class="btn btn-primary">8</button>
        <button type="button" class="btn btn-primary">9</button>
        <button type="button" class="btn btn-primary">10</button>
        <button type="button" class="btn btn-primary">11</button>
        <button type="button" class="btn btn-primary">12</button>
        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></button>
    </div>
    <div class="scoreRow grey">
        <button type="button" class="btn"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn active">&nbsp;</button>
        <button type="button" class="btn active">&nbsp;</button>
        <button type="button" class="btn">&nbsp;</button>
        <button type="button" class="btn" disabled>&nbsp;</button>
    </div>
    <div class="form-group resultRow">
        <span class="result red">28</span>
        +
        <span class="result yellow">12</span>
        +
        <span class="result green">34</span>
        +
        <span class="result blue">28</span>
        -
        <span class="result grey">5</span>
        =
        <span class="result total">99</span>
    </div>
</div>
